.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    display: flex;
    justify-content: space-between;
}


.btn-social {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
    line-height: 2.5em;
}


.btn-outline {
    margin-top: 3vh;
    border: solid 2px #fff;
    font-size: 1em;
    transition: all .3s ease-in-out;
    background: #fff;
}
a.btn-outline {
    color: inherit;
}
.railway-normal {
    font-family: 'Raleway', sans-serif;
}
.roboto-normal {
    font-family: 'Roboto', sans-serif;
}




/* For Social Buttons */
.sidebar a:hover {
    opacity: 0.7;
    text-decoration: none;
}

.sidebar a:active {
    opacity: 0.5;
    text-decoration: none;
}

/*a.btn-outline:active,*/
a.btn-outline:hover {
    opacity: .75;
    background: 0;
    color: #fff;
}

#sidebar-buttons a {
    color: #000000;
}

#sidebar-buttons a:hover {
    color: #fff;
}
